
.container {
   
    border: 2px solid black;
    padding: 5px;
    width: 700px;
    height: 900px;
    margin:3px;
    background-color: lightgrey;
}  
 #example2 {
    border: 2px solid black;
    padding: 5px;
    width: 280px;
    margin:3px;
    background-color: orange;
 }

 #btn1, #btn2, #btn3, #btn4 {
     background-color: white;
     height: 80px;
     width: 50px;
     margin: 5px;
 }

 #btn5 {
     background-color: lightblue;
     height: 100px;
     width: 100px;
 }
 #btn6 {
     background-color: lightblue;
     height: 100px;
     width: 100px;
 }

 #btn7 {
     background-color: blue;
     color: white;
 }

 #btn8 {
     background-color: blue;
     width: 150px;
     height: 100px;
     color: white;
 }

 #btn9 {
     background-color: white;
     color: green;
     height: 250px;
     width:400px;
     text-align: left;
